img {
  height: 300px;
  width: 300px;
}

.introduction {
  background-image: url(/images/RS_LANDING_Background.png);
  height: 700px;
  width: 100vw;
  background-size: cover;
}

#logo {
  width: 500px;
  height: auto;
  background-size: cover;
}
